 *{
    font-family: "Gilroy";
    margin :0;
    padding : 0;
    box-sizing : border-box;

 }

 html,body{

    width :100%;
    height :100%;
 }
 #main {
    display:flex;
    align-items: center;
    justify-content: center;
    width :100%;
    height : 100%;
    background-color:  rgb(130, 197, 130); 
 }
 #panel{
    overflow: hidden;
     width :80%;
     height : 80%;
     background-color: #fff;
     border-radius:10px;
 }
 .elem{
    display: flex;
    align-items: center;
    gap: 20px;
   
   

  
   
 }
 #ptop{
   padding: 0px 30%;
    justify-content: space-between;
   
    align-items: center;
    display: flex;
    color:#fff;
     width :100%;
     height : 100px;
     background-color: rgb(80, 142, 80);
    
 }
 .box{


    padding : 10px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
        font-size: 25px;
        color: black;
        border-radius: 5px;
 }